<div id="content">
    <h1>brunch</h1>
    <h2>Brunch example: File System API</h2>
    <ul>
        <li class="goto" data-goto="new_file-view">Try it out</li>
        <li class="goto" data-goto="get-source">Get the source</li>
        <li class="goto" data-goto="instructions">Read the instructions</li>
        <li class="goto" data-goto="links">Visit places</li>
    </ul>

    <div id="get-source">
        <h2>Source</h2>
        <ul>
            <li>Get the source from <a href="">GitHub repository</a>.</li>
        </ul>
    </div>
    <div id="instructions">
        <h2>Instructions</h2>
        <ul>
            <li>For now (November 29, 2011), only Chrome supports File System API.</li>
            <li>If you are testing this locally, make sure you are running chrome with the --allow-file-access-from-files option specified.</li>
            <li>Check JavaScript Console (Ctrl + Shift + j) for debug information output.</li>
            <li>Use the first text box to create a new file (input a name, and press "New file").</li>
            <li>Use the second text box to load a file's contents into the textarea (input a file name, and press "View file").</li>
            <li>After loading a file, you can modify it's contents in the textarea, and save it (press "Save file").</li>
        </ul>
    </div>
    <div id="links">
        <h2>Links</h2>
        <ul>
            <li>This site has been assembled with <a href="http://brunch.io/">Brunch</a>.</li>
            <li>Official <a href="http://dev.w3.org/2009/dap/file-system/pub/FileSystem/">File System API</a> reference is a must read.</li>
            <li>A good tutorial: <a href="http://www.html5rocks.com/en/tutorials/file/filesystem/">Exploring the FileSystem APIs</a>.</li>
        </ul>
    </div>

    <h2>Try it out</h2>
</div>
