<input placeholder="file name" type="text" class="file_name" /> <button class="view_file" type="button">View file</button>
<br />
<textarea placeholder="file contents" cols="40" rows="5" class="file_contents"></textarea>
<br />
<button type="button" class="save_file">Save file</button>
